<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Zähler" context="hsl20_3_Powermeter" id="11083" name="Leistungsmesser (11083)" version="00.08">
            <inputs>
				<input type="number" const_name="IC" init_value="0">1 Counter</input>
				<input type="number" const_name="Reset1" init_value="0">2 Reset 1</input>
				<input type="number" const_name="Reset2" init_value="0">3 Reset 2</input>
				<input type="number" const_name="Reset3" init_value="0">4 Reset 3</input>				
				<input type="number" const_name="Gain" init_value="1">5 Gain</input>
				<input type="number" const_name="Reset" init_value="0">6 Reset</input>
				<input type="number" const_name="Offset" init_value="0">7 Offset</input>		
            </inputs>
            <outputs>
				<output type="number" const_name="ts1_cons_curr" init_value="0">1 current 1</output>
				<output type="number" const_name="ts1_cons_pev" init_value="0">2 previous 1</output>
				<output type="number" const_name="ts2_cons_curr" init_value="0">3 current 2</output>
				<output type="number" const_name="ts2_cons_pev" init_value="0">4 previous 2</output>
				<output type="number" const_name="ts3_cons_curr" init_value="0">5 current 3</output>
				<output type="number" const_name="ts3_cons_pev" init_value="0">6 previous 3</output>				
				<output type="number" const_name="GC" init_value="0">7 Counter total</output>
            </outputs>
			<remanent_variables>
				<remanent_variable const_name="gc">gc</remanent_variable>
				<remanent_variable const_name="ts1_gc_sts">ts1_gc_sts</remanent_variable>
				<remanent_variable const_name="ts2_gc_sts">ts2_gc_sts</remanent_variable>
				<remanent_variable const_name="ts3_gc_sts">ts3_gc_sts</remanent_variable>
				<remanent_variable const_name="ic_prev">ic_prev</remanent_variable>
				<remanent_variable const_name="ts1_cons_prev">ts1_cons_prev</remanent_variable>
				<remanent_variable const_name="ts2_cons_prev">ts2_cons_prev</remanent_variable>
				<remanent_variable const_name="ts3_cons_prev">ts3_cons_prev</remanent_variable>
				<remanent_variable const_name="last_cnt_val">last_cnt_val</remanent_variable>
            </remanent_variables>
            <imports>
            </imports>		
        </module>	
    </modules>
</config>
